[submodule "contrib/taskflow"]
	path = contrib/taskflow
	url = https://github.com/cpp-taskflow/cpp-taskflow.git
[submodule "contrib/xsimd"]
	path = contrib/xsimd
	url = https://github.com/QuantStack/xsimd.git
[submodule "contrib/catch2"]
	path = contrib/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "contrib/pybind11"]
	path = contrib/pybind11
	url = https://github.com/pybind/pybind11.git
